<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('catalog.static', filename='main.css') }}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('catalog.static', filename='all.min.css') }}" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-light">Big Data Project</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link text-light">Catalog page <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search_text">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="search">Search</button>
        </form>
    </div>
</nav>
<div class="col-6 col-md-6 col-lg-4 mb-3 " hidden id="game_card">
    <div class="card spotlight_content h-100 border-0">
        <div class="card-img-top">
            <img src="" id= "card_img" class="img-fluid
                                mx-auto
                                d-block" alt="Card image cap">
        </div>
        <div class="text-center discount_block discount_prices">
            <h4 class="card-title">
                <a href="" id= "card_title" class=" font-weight-bold text-light text-uppercase small"></a>
            </h4>
            <h5 class="fs-5 card-price fw-bold discount_final_price">
                    <i id= "card_price"></i>
            </h5>
        </div>
    </div>
</div>
<div class="container pt-5">
    <div class="row">
        <div class="col-md-8 order-md-2 col-lg-9">
            <div class="container-fluid">
                <div class="row" id="card_list">
                    {% for game in games %}
                    <div class="col-6 col-md-6 col-lg-4 mb-3 " id="game_card">
                        <div class="card spotlight_content h-100 border-0">
                            <div class="card-img-top">
                                <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/{{ game['appId'] }}/header.jpg" id= "card_img" class="img-fluid
                                mx-auto
                                d-block" alt="Card image cap">
                            </div>
                            <div class="text-center discount_block discount_prices">
                                <h4 class="card-title">
                                    <a href="{{ url_for('catalog.game_page', name=game['name'], game_id=game['appId']) }}" id= "card_title" class=" font-weight-bold text-light text-uppercase small">{{ game['name'] }}</a>
                                </h4>
                                <h5 class="fs-5 card-price fw-bold discount_final_price">
                                    {% if game['priceHistory'][game['priceHistory']|length - 1]['discountOnPrice'] %}
                                        <i id= "card_price"><s>${{ game['priceHistory'][game['priceHistory']|length - 1]['initialPrice'] }}</s> ${{game['priceHistory'][game['priceHistory']|length - 1]['finalPrice'] }}</i>
                                    {% else %}
                                        <i id= "card_price">${{game['priceHistory'][game['priceHistory']|length - 1]['finalPrice'] }}</i>
                                    {% endif %}
                                </h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="container text-center">
                    <button type="button"
                            title="Edit Task"
                            class="btn btn-outline-primary mb-5 text-light"
                            id="load_more">
                        Load more
                    </button>
                </div>
            </div>
        </div><div class="col-md-4 order-md-1 col-lg-3 sidebar-filter">
        <h3 class="mt-0 mb-5 text-light">Showing <span class="text-main">12</span> Products</h3>
        <h6 class="text-uppercase text-light font-weight-bold mb-3">Categories</h6>
        <div class="mt-2 mb-2 pl-2">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="category-1">
                <label class="custom-control-label text-light" for="category-1">Accessories</label>
            </div>
        </div>
        <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
        <h6 class="text-uppercase mt-5 mb-3 font-weight-bold text-light">Size</h6>
        <div class="mt-2 mb-2 pl-2">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="filter-size-1">
                <label class="custom-control-label  text-light" for="filter-size-1">X-Small</label>
            </div>
        </div>
        <div class="mt-2 mb-2 pl-2">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="filter-size-2">
                <label class="custom-control-label text-light" for="filter-size-2">Small</label>
            </div>
        </div>
        <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
        <h6 class="text-uppercase mt-5 mb-3 font-weight-bold text-light">Price</h6>
        <div class="price-filter-control">
            <input type="number" class="form-control w-50 pull-left mb-2" value="50" id="price-min-control">
            <input type="number" class="form-control w-50 pull-right" value="150" id="price-max-control">
        </div>
        <input id="ex2" type="text" class="slider " value="50,150" data-slider-min="10" data-slider-max="200" data-slider-step="5" data-slider-value="[50,150]" data-value="50,150" style="display: none;">
        <div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
        <a href="#" class="btn btn-lg btn-block btn-primary mt-5">Update Results</a>
    </div>

    </div>
</div>
</body>
<script type="text/javascript">
    function create_card(data) {
        card = $("#game_card").clone()
        card.removeAttr("hidden")
        console.log(card.find("#card_img"))
        card.find("#card_img").attr("src", "https://cdn.cloudflare.steamstatic.com/steam/apps/" + data['appId'] + "/header.jpg")
        card.find("#card_title").attr("href", "/game_page/" + encodeURI(data['name']) + "/" + data['appId'])
        card.find("#card_title").html(data['name'])
        if (data["priceHistory"][data["priceHistory"].length - 1]["discountOnPrice"] != 0) {
            card.find("#card_price").html("<s>" + data['priceHistory'][data["priceHistory"].length - 1]['initialPrice'] + "</s>" + data['priceHistory'][data["priceHistory"].length - 1]['finalPrice'])
        }
        else {
            card.find("#card_price").html(data['priceHistory'][data["priceHistory"].length - 1]['finalPrice'])
        }
        card.appendTo("#card_list")
    }
    $(document).ready(function () {
        let next_page = "{{ next_page }}"
        $('#load_more').click(function () {

            $.ajax({
                url: "/load_games",
                dataType: "json",
                data: {"pagingState": next_page},
                type: "GET",
                success: function (response) {
                    next_page = response["pagingState"]
                    response["page"].forEach(
                        element => create_card(element)
                    );

                }
            })
        })
        $('#search').click(function () {
            window.location.replace("{{ url_for }}");

        })
    })
</script>
</html>